.project {
  /* Add your styles here */
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.project-description {
  font-size: 1em;
  margin-bottom: 1em;
}

.project-technologies {
  font-size: 0.9em;
  color: gray;
}